.row-fluid
  .span4
    p
      | © 2013 
      a[href="#"]
        | Zetiz Labs
  .span4.text-center
    ul.nav.inline
      li
        a[href="#"]
          | About Us
      li
        a[href="#"]
          | Contact Us
      li
        a[href="#"]
          | Privacy Policy
  .span4.text-right
    p
      | Powered By Twitter BootStrap 2.3.2
