header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      nav style="margin-top:7px;"
        = link_to "Bulbists", root_path, id: "logo",style:"color:#5bb65b;"
        ul.nav.pull-right
          - if user_signed_in?
            / li
              / = link_to 'Profile', profile_path(current_user)
            | |
            li
              = button_to "What If?", new_post_path, method: :get,remote:true, class:"btn btn-success"
            li
              = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            li
              = link_to "SignUp", new_user_registration_path
            li
              = link_to "SignIn", new_user_session_path
